<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/css/styles.css' />
    <title>{{pageTitle}}</title>
    {{#if addFosterFormCSS}}
      <link rel='stylesheet' href='/css/formStyles.css' />
    {{/if}}
    {{#if fostersCSS}}
      <link rel='stylesheet' href='/css/fosters.css' />
    {{/if}}

  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a class="{{#if activeFosters}}active{{/if}}" href='/'>Fosters</a>
            <a class="{{#if activeAddFoster}}active{{/if}}" href='/admin/add-foster'>Add foster</a>
          </li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>