<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="/css/styles.css">
    <title>Fosters List</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Fosters</a>
            <a href="/admin/add-foster">Add foster</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <p>fosters here</p>
      <!-- <div class="test">i am a test div</div> -->
    </main>
  </body>
</html>
